body{
  ont-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  color: pink;
}

body:before{
  content: "";
  background-image : url(IMG_5126.JPG);
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .7;
}

.input-box{
  background: pink;
  color: black;
 
}

input::placeholder{
  color: black;
}